*{
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px;
	margin: 0;
	color: rgb(255, 217, 160);}

body{
	background-color: #454242;
}

main{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	min-height: 80vh;
}

li a{
	margin-block: 0.5rem;
	display: inline-block;
	text-decoration: none;
	background-color: ;
	padding-inline: 1rem;
	padding-block: 0.7rem;
	border-radius: 5px;
	border: solid 1px #5a0613;
	transition: all .3s ease-in-out;
}

li a:hover{
	background-color: #5a0613;
	border: solid 1px rgb(255, 217, 160);

	transform: scale(1.1) rotate(2deg);

}

ul{
	list-style-type: none;
}


.navegacion ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}

.navegacion li {
	width: fit-content; /* ajusta el ancho al contenido */
}


.titulo h1{ 
	font-family: "Zen Dots", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 5rem;
	color: #5a0613;
}

.titulo p{
	text-align: center;
	font-style: Bold;
	font-size: 1.3rem;
}