*{
	font-family: Arial, Helvetica, sans-serif;
	/* border: 1px solid rgba(255, 255, 255, 0.363); */
	padding: 2px;
	margin: 0;
	color: rgb(255, 217, 160);}

body{
	background-color: rgb(43, 43, 43);
}

main{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	min-height: 80vh;
}

li a{
	margin-block: 0.5rem;
	display: inline-block;
	text-decoration: none;
	background-color: ;
	padding-inline: 1rem;
	padding-block: 0.7rem;
	border-radius: 5px;
	border: solid 1px rgb(194,76, 48);
	transition: all .3s ease-in-out;
}

li a:hover{
	background-color: rgb(194,76, 48);
	border: solid 1px rgb(255, 217, 160);

	transform: scale(1.1) rotate(2deg);

}

ul{
	list-style-type: none;
}

.titulo h1{ 
	font-family: "Zen Dots", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 5rem;
	color: rgb(255,140, 66);
}

.titulo p{
	text-align: center;
	font-style: Bold;
	font-size: 1.3rem;
}